In [1]:
#importing python libraries
import pandas as pd
import numpy as np

In [2]:
#Reading excel file
adidas = pd.read_excel("C:/Users/ASB/Desktop/Adidas US Sales Datasets.xlsx")

In [3]:
adidas.head()

,Retailer,Retailer ID,Invoice Date,Region,State,City,Product,Price per Unit,Units Sold,Total Sales,Operating Profit,Operating Margin,Sales Method
0,Foot Locker,1185732,2020-01-01,Northeast,New York,New York,Men's Street Footwear,50.0,1200,600000.0,300000.0,0.50,In-store
1,Foot Locker,1185732,2020-01-02,Northeast,New York,New York,Men's Athletic Footwear,50.0,1000,500000.0,150000.0,0.30,In-store
2,Foot Locker,1185732,2020-01-03,Northeast,New York,New York,Women's Street Footwear,40.0,1000,400000.0,140000.0,0.35,In-store
3,Foot Locker,1185732,2020-01-04,Northeast,New York,New York,Women's Athletic Footwear,45.0,850,382500.0,133875.0,0.35,In-store
4,Foot Locker,1185732,2020-01-05,Northeast,New York,New York,Men's Apparel,60.0,900,540000.0,162000.0,0.30,In-store

In [4]:
adidas.shape

(9648, 13)

In [5]:
adidas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9648 entries, 0 to 9647
Data columns (total 13 columns):
Retailer            9648 non-null object
Retailer ID         9648 non-null int64
Invoice Date        9648 non-null datetime64[ns]
Region              9648 non-null object
State               9648 non-null object
City                9648 non-null object
Product             9648 non-null object
Price per Unit      9648 non-null float64
Units Sold          9648 non-null int64
Total Sales         9648 non-null float64
Operating Profit    9648 non-null float64
Operating Margin    9648 non-null float64
Sales Method        9648 non-null object
dtypes: datetime64[ns](1), float64(4), int64(2), object(6)
memory usage: 980.0+ KB

In [6]:
#check for duplicated values and display the total count
adidas.duplicated().sum()

0

In [7]:
#check for Null values and display the total count
adidas.isnull().sum()

Retailer            0
Retailer ID         0
Invoice Date        0
Region              0
State               0
City                0
Product             0
Price per Unit      0
Units Sold          0
Total Sales         0
Operating Profit    0
Operating Margin    0
Sales Method        0
dtype: int64

In [8]:
# adidas["Total Sales"] = adidas["Total Sales"].str.replace('.',' ',regex=True)
adidas['Total Sales'] = adidas['Total Sales'].replace(r'[$, ]', '', regex=True).astype(float)

In [9]:
adidas.head()

,Retailer,Retailer ID,Invoice Date,Region,State,City,Product,Price per Unit,Units Sold,Total Sales,Operating Profit,Operating Margin,Sales Method
0,Foot Locker,1185732,2020-01-01,Northeast,New York,New York,Men's Street Footwear,50.0,1200,600000.0,300000.0,0.50,In-store
1,Foot Locker,1185732,2020-01-02,Northeast,New York,New York,Men's Athletic Footwear,50.0,1000,500000.0,150000.0,0.30,In-store
2,Foot Locker,1185732,2020-01-03,Northeast,New York,New York,Women's Street Footwear,40.0,1000,400000.0,140000.0,0.35,In-store
3,Foot Locker,1185732,2020-01-04,Northeast,New York,New York,Women's Athletic Footwear,45.0,850,382500.0,133875.0,0.35,In-store
4,Foot Locker,1185732,2020-01-05,Northeast,New York,New York,Men's Apparel,60.0,900,540000.0,162000.0,0.30,In-store

In [10]:
#Replacing non numeric characters $
adidas['Units Sold'] = adidas['Units Sold'].replace(r'[$, ]', '', regex=True).astype(float)
adidas['Operating Profit'] = adidas['Operating Profit'].replace(r'[$, ]', '', regex=True).astype(float)

In [11]:
adidas.head()

,Retailer,Retailer ID,Invoice Date,Region,State,City,Product,Price per Unit,Units Sold,Total Sales,Operating Profit,Operating Margin,Sales Method
0,Foot Locker,1185732,2020-01-01,Northeast,New York,New York,Men's Street Footwear,50.0,1200.0,600000.0,300000.0,0.50,In-store
1,Foot Locker,1185732,2020-01-02,Northeast,New York,New York,Men's Athletic Footwear,50.0,1000.0,500000.0,150000.0,0.30,In-store
2,Foot Locker,1185732,2020-01-03,Northeast,New York,New York,Women's Street Footwear,40.0,1000.0,400000.0,140000.0,0.35,In-store
3,Foot Locker,1185732,2020-01-04,Northeast,New York,New York,Women's Athletic Footwear,45.0,850.0,382500.0,133875.0,0.35,In-store
4,Foot Locker,1185732,2020-01-05,Northeast,New York,New York,Men's Apparel,60.0,900.0,540000.0,162000.0,0.30,In-store

In [12]:
adidas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9648 entries, 0 to 9647
Data columns (total 13 columns):
Retailer            9648 non-null object
Retailer ID         9648 non-null int64
Invoice Date        9648 non-null datetime64[ns]
Region              9648 non-null object
State               9648 non-null object
City                9648 non-null object
Product             9648 non-null object
Price per Unit      9648 non-null float64
Units Sold          9648 non-null float64
Total Sales         9648 non-null float64
Operating Profit    9648 non-null float64
Operating Margin    9648 non-null float64
Sales Method        9648 non-null object
dtypes: datetime64[ns](1), float64(5), int64(1), object(6)
memory usage: 980.0+ KB

In [13]:
#checking datatype
adidas["Invoice Date"].dtypes

dtype('<M8[ns]')

In [14]:
#Converting Invoice date datatype to_datetime for time series Analysis
adidas["Invoice Date"] = pd.to_datetime(adidas["Invoice Date"])

In [15]:
adidas["Invoice Date"].dtypes

dtype('<M8[ns]')

In [16]:
# Extract Year and Month from Invoice Date
adidas['Year'] = adidas['Invoice Date'].dt.year 
adidas['Month'] = adidas['Invoice Date'].dt.month_name()

In [17]:
adidas.head()

,Retailer,Retailer ID,Invoice Date,Region,State,City,Product,Price per Unit,Units Sold,Total Sales,Operating Profit,Operating Margin,Sales Method,Year,Month
0,Foot Locker,1185732,2020-01-01,Northeast,New York,New York,Men's Street Footwear,50.0,1200.0,600000.0,300000.0,0.50,In-store,2020,January
1,Foot Locker,1185732,2020-01-02,Northeast,New York,New York,Men's Athletic Footwear,50.0,1000.0,500000.0,150000.0,0.30,In-store,2020,January
2,Foot Locker,1185732,2020-01-03,Northeast,New York,New York,Women's Street Footwear,40.0,1000.0,400000.0,140000.0,0.35,In-store,2020,January
3,Foot Locker,1185732,2020-01-04,Northeast,New York,New York,Women's Athletic Footwear,45.0,850.0,382500.0,133875.0,0.35,In-store,2020,January
4,Foot Locker,1185732,2020-01-05,Northeast,New York,New York,Men's Apparel,60.0,900.0,540000.0,162000.0,0.30,In-store,2020,January

In [18]:
#checking for null values in extracted Month & Year column
adidas['Year'].isnull().sum()
adidas['Month'].isnull().sum()

0

In [19]:
#Financial Performance Analysis
#Total Revenue
total_Revenue = adidas['Total Sales'].sum()
total_Revenue

899902125.0

In [20]:
#Calculating YOY profit
adidas['YOY_profit']= adidas['Operating Profit'].pct_change(periods=1)*100
adidas['YOY_profit']

0              NaN
1       -50.000000
2        -6.666667
3        -4.375000
4        21.008403
5       -22.839506
6       150.000000
7       -56.800000
8        -1.481481
9        -2.302632
10       24.675325
11      -22.839506
12      144.000000
13      -54.508197
14       -4.144144
15       -5.263158
16       21.428571
17      -22.385621
18      152.631579
19      -55.000000
20       -6.666667
21        3.125000
22       14.285714
23      -20.033670
24      208.210526
25      -58.299180
26        3.194103
27       -5.555556
28        5.882353
29        3.174603
           ...
9618      1.423899
9619      7.751786
9620     68.604497
9621     73.482917
9622    -45.828246
9623    -46.280992
9624    -16.581197
9625      8.047690
9626    142.068966
9627     68.275018
9628    -45.535206
9629     -1.162791
9630    -18.095238
9631     15.544676
9632     55.844965
9633     53.471945
9634    -42.808511
9635    -17.784257
9636     -8.143100
9637     14.381220
9638     54.410020
9639    -37.448770
9640    -39.066339
9641    -30.141129
9642    -49.629630
9643     90.136661
9644     53.750000
9645    102.619048
9646    -55.762231
9647    -47.368805
Name: YOY_profit, Length: 9648, dtype: float64

In [21]:
adidas.head()

,Retailer,Retailer ID,Invoice Date,Region,State,City,Product,Price per Unit,Units Sold,Total Sales,Operating Profit,Operating Margin,Sales Method,Year,Month,YOY_profit
0,Foot Locker,1185732,2020-01-01,Northeast,New York,New York,Men's Street Footwear,50.0,1200.0,600000.0,300000.0,0.50,In-store,2020,January,NaN
1,Foot Locker,1185732,2020-01-02,Northeast,New York,New York,Men's Athletic Footwear,50.0,1000.0,500000.0,150000.0,0.30,In-store,2020,January,-50.000000
2,Foot Locker,1185732,2020-01-03,Northeast,New York,New York,Women's Street Footwear,40.0,1000.0,400000.0,140000.0,0.35,In-store,2020,January,-6.666667
3,Foot Locker,1185732,2020-01-04,Northeast,New York,New York,Women's Athletic Footwear,45.0,850.0,382500.0,133875.0,0.35,In-store,2020,January,-4.375000
4,Foot Locker,1185732,2020-01-05,Northeast,New York,New York,Men's Apparel,60.0,900.0,540000.0,162000.0,0.30,In-store,2020,January,21.008403

In [22]:
#.shape gives no of rows & column count
number_of_periods = adidas.shape[0]
number_of_periods

9648

In [23]:
#calculating average revenue
Total_revenue = adidas['Total Sales'].sum()
number_of_periods = adidas.shape[0]
Average_revenue = Total_revenue/number_of_periods
Average_revenue
Total_revenue

899902125.0

In [24]:
#calculating the revenue for each year
revenue_per_year = adidas.groupby(['Year'])['Total Sales'].sum()
revenue_per_year

Year
2020    182080675.0
2021    717821450.0
Name: Total Sales, dtype: float64

In [25]:
adidas['YOY_profit_year']= adidas['Year'].pct_change(periods=1)*100
adidas.head()

,Retailer,Retailer ID,Invoice Date,Region,State,City,Product,Price per Unit,Units Sold,Total Sales,Operating Profit,Operating Margin,Sales Method,Year,Month,YOY_profit,YOY_profit_year
0,Foot Locker,1185732,2020-01-01,Northeast,New York,New York,Men's Street Footwear,50.0,1200.0,600000.0,300000.0,0.50,In-store,2020,January,NaN,NaN
1,Foot Locker,1185732,2020-01-02,Northeast,New York,New York,Men's Athletic Footwear,50.0,1000.0,500000.0,150000.0,0.30,In-store,2020,January,-50.000000,0.0
2,Foot Locker,1185732,2020-01-03,Northeast,New York,New York,Women's Street Footwear,40.0,1000.0,400000.0,140000.0,0.35,In-store,2020,January,-6.666667,0.0
3,Foot Locker,1185732,2020-01-04,Northeast,New York,New York,Women's Athletic Footwear,45.0,850.0,382500.0,133875.0,0.35,In-store,2020,January,-4.375000,0.0
4,Foot Locker,1185732,2020-01-05,Northeast,New York,New York,Men's Apparel,60.0,900.0,540000.0,162000.0,0.30,In-store,2020,January,21.008403,0.0

In [27]:
#Calculate revenue for same period last year
revenue_last_year = []
for index, row in adidas.iterrows():
    same_period_last_year = adidas[(adidas['Year'] == row['Year'] - 1) & (adidas['Month'] == row['Month'])]
    revenue_last_year.append(same_period_last_year['Total Sales'].sum())

adidas['Revenue Last Year'] = revenue_last_year
adidas.head()

,Retailer,Retailer ID,Invoice Date,Region,State,City,Product,Price per Unit,Units Sold,Total Sales,Operating Profit,Operating Margin,Sales Method,Year,Month,YOY_profit,YOY_profit_year,Revenue Last Year
0,Foot Locker,1185732,2020-01-01,Northeast,New York,New York,Men's Street Footwear,50.0,1200.0,600000.0,300000.0,0.50,In-store,2020,January,NaN,NaN,0.0
1,Foot Locker,1185732,2020-01-02,Northeast,New York,New York,Men's Athletic Footwear,50.0,1000.0,500000.0,150000.0,0.30,In-store,2020,January,-50.000000,0.0,0.0
2,Foot Locker,1185732,2020-01-03,Northeast,New York,New York,Women's Street Footwear,40.0,1000.0,400000.0,140000.0,0.35,In-store,2020,January,-6.666667,0.0,0.0
3,Foot Locker,1185732,2020-01-04,Northeast,New York,New York,Women's Athletic Footwear,45.0,850.0,382500.0,133875.0,0.35,In-store,2020,January,-4.375000,0.0,0.0
4,Foot Locker,1185732,2020-01-05,Northeast,New York,New York,Men's Apparel,60.0,900.0,540000.0,162000.0,0.30,In-store,2020,January,21.008403,0.0,0.0

In [28]:
# Calculate average operating margin
average_operating_margin = adidas['Operating Margin'].mean()
average_operating_margin

0.422991293532333

In [31]:
adidas.to_excel('adidas_Sales_Analysis_cleaned.xlsx',index=False)